* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #181717;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

#content {
  background-color: #201f1f;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 1rem;
  width: 30%;
  color: #fff;
  gap: 1rem;
}

#forms {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 90%;
  align-self: center;
}

.inputBox {
  background-color: #302d2d;
  border: none;
  border-radius: 0.1rem;
  padding: 0.5rem;
  width: 100%;
  height: 2rem;
  color: #fff;
}

.inputBox:focus {
  outline: none;
  outline: 3px solid #8400ff; 
}

#descricao {
  height: 6rem;
}

.spanMsg {
  display: none;
}

#sex {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

#sex p {
  text-align: left;
}

#sexBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  accent-color: #8400ff;
}

#habilities {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#habilities p {
  text-align: left;
}

#habilitiesBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  accent-color: #8400ff;
}

button {
  align-self: center;
  background-color: purple;
  border: none;
  color: #fff;
  height: 3rem;
  width: 90%;
  cursor: pointer;
}
